body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #000;
    color: white;
}

canvas {
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
