doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/phaser.js')
        script(src='/javascripts/lodash.min.js')
        script(src='/javascripts/game.js')
    body
        div#super-collider
        p
            | Oh no! The computer that controlls the magnetic polarity inside the super collider has malfunctioned. 
            | There isn't enough time to fix the bug so it's up to you to manually control the super collider's magnetic polarity and keep the experiment going.
        p
            | All you have to do is hold the SPACE button to reverse the polarity and release it to switch it back.